# =============== #
# Unity generated #
# =============== #
WindProject/Temp/
WindProject/Obj/
WindProject/UnityGenerated/
WindProject/Library/
WindProject/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
WindProject/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
WindProject/.DS_Store
WindProject/.DS_Store?
WindProject/._*
WindProject/.Spotlight-V100
WindProject/.Trashes
WindProject/Icon?
WindProject/ehthumbs.db
WindProject/Thumbs.db
*.meta
